.message-container {
    display: flex;
    flex-direction: row;
    margin: 10px;
    min-height: 50px;
    width: 50%;
}

.message-img {
    height: 50px;
    width: 50px;
    margin-right: 5px;
}

.message-username {
    font-weight: bold;
}

.message-timestamp {
    color: #888;
    margin-left: 10px;
}

.message-content {
    margin: 10px 0px;
}
